<div id="programmes">
  <h2>Programmes</h2>
  <p><% @programmes.each do |programme| %>
    <div id="programme-link">
    <%= link_to programme.title, programme_path(programme)%>
    </div>
    Total Clients: <%= programme.clients.count %>
    <br><a href="programmes/<%= programme.id %>", data-confirm="Are you sure?" data-method="delete"> delete </a>
  </p>
  <% end %>
</div>
