<h2><%= @programme.title %></h2>

<%= link_to "Edit Programme", edit_organisation_programme_path %>

<%= form_tag organisation_programme_path(@programme.organisation_id), method: "delete" do %>
  <%= submit_tag "Delete #{@programme.title}" %>
<% end %>
