<p>Welcome, <%= current_user.email %></p>

<p>Nova CRM manages your programmes,
   clients and their outcomes. Choose
   or create your organisation below.</p>

  <h2>Organisations</h2>
  <% @organisations.each do |org| %>
  <ul>
    <li><%= link_to org.name, organisation_path(org) %></li>
  </ul>
<% end %>

<%= link_to "Create a New Organisation", new_organisation_path(@organisation) %>
