<h2>Outcomes</h2>
<% @client.outcomes.each do |outcome| %>
  <p>Grade: <%= outcome.grade %></p>
  <p>Description: <%= outcome.description %></p>
<% end %>

<p><%= link_to "Create a New Outcome", new_client_outcome_path(@client, @outcome) %></p>

<p><%= link_to "Return to Client Page", programme_client_path(@client.programme_ids, @client.id) %></p>
